.navbar{
    display:flex;
    background-color: #92becf;
    padding:10px;
    justify-content: space-evenly;
    font-family: myFont;
    color: #cb703a;
    font-size: x-large;
    align-items: center;
}
.navbar1{
    background-color: #92becf;
}
.fnfont {
    font-family: myFont;
    color: #cb703a;
    font-size: 40px;
}
.searchbar{
    display:flex;
    justify-content: center;
    font-size: 100px;
}
.logo {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: second/third;
} 
.footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #92becf;
}
.attentionGrabbar {
    grid-column: first/second;
    border-style: solid;
    justify-content: center;
    padding: 7px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.centralPart {
    display: grid;
    grid-template-columns: [first] 1fr [second] 1fr [third] 1fr [end]; 
}
.Backstory {
    border-style: solid;
    justify-content: center;
    padding: 7px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.contact {
    display: grid;
    justify-content: center;
    grid-template-columns: [uno] 1fr [dos] 1fr [tres] 1fr [end];
}
div.contact > img {
    grid-column: dos/tres;
}
div.contact > h2 {
    grid-column: dos/tres;
}
.order {
    margin: auto;
}
.orderForm {
    display: flex;
    justify-content: center;
}
.container {
    display:grid;
    grid-template-columns: [a] 1fr [b] 1fr [c] 1fr [end];
    grid-template-rows: [f] 1fr [g] 1fr [end];
    gap: 10px;
    padding:10px;
    margin-top: 80px;
    margin-bottom: 80px;
}
#h1B {
    display: flex;
    font-family: myFont;
    color: #cb703a;
    justify-content: center;
}
.item-1 {
    grid-column: a / b;
    grid-row: f / g;
}
.item-2 {
    grid-column: b / c;
    grid-row: f / g;
}
.item-3 {
    grid-column: c / end;
    grid-row: f / g;
}
.item-4 {
    grid-column: a / b;
    grid-row: g / end;
}
.item-5 {
    grid-column: b / c;
    grid-row: g / end;
}
.item-6 {
    grid-column: c / end;
    grid-row: g / end;
}

@font-face {
    font-family: myFont;
    src: url(KellySlab-Regular.ttf);
}